.PlayBar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    height: 80px;
    color: #faf7f5;
    overflow: hidden;
}

.PlayBar__content {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    background: #363030;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-bottom: 0;
}

.PlayBar__detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
    height: 100%;
}

.PlayBar__thumbnail {
    object-fit: cover;
    width: 40px;
    height: 100%;
    border-radius: 8px;
}

.PlayBar__meta {
    font-weight: 600;
    font-size: 14px;
}

.PlayBar__title {}

.PlayBar__time {}

.PlayBar__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transform: translate(-50%, -50%);
}

.PlayBar__play,
.PlayBar__next,
.PlayBar__previous {
    color: currentColor;
    background: none;
    border: 0;
    cursor: pointer;
}

.PlayBar__next:disabled,
.PlayBar__previous:disabled {
    opacity: 0.5;
    cursor: default;
}

.PlayBar__progress-bar {
    height: 8px;
    background: #565252;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.PlayBar__progress {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #faf7f5;
}
